<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.haicheng.cfundtool.mapper.FundMapper">
  <resultMap id="BaseResultMap" type="io.haicheng.cfundtool.pojo.Fund">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="fund_name" property="fundName" jdbcType="VARCHAR"/>
    <result column="index_name" property="indexName" jdbcType="VARCHAR"/>
    <result column="index_code" property="indexCode" jdbcType="VARCHAR"/>
    <result column="outside_fund" property="outsideFund" jdbcType="VARCHAR"/>
    <result column="inside_fund" property="insideFund" jdbcType="VARCHAR"/>
    <result column="scope" property="scope" jdbcType="INTEGER"/>
    <result column="desc" property="desc" jdbcType="VARCHAR"/>
    <result column="build_date" property="buildDate" jdbcType="DATE"/>
  </resultMap>

  <insert id="saveFund" useGeneratedKeys="true" keyProperty="id"
    parameterType="io.haicheng.cfundtool.pojo.Fund">
        INSERT INTO fund
        (`fund_name`, `outside_fund`, `inside_fund`, `scope`, `desc`, `build_date`)
        VALUES (#{fundName}, #{outsideFund},#{insideFund}, #{scope}, #{desc}, #{buildDate})
    </insert>

  <select id="getFundList" resultMap="BaseResultMap">
    SELECT id, `fund_name`, `outside_fund`, `inside_fund`, `scope`, `desc`, `build_date` FROM
    fund
    <where>
      <if test="name != null and name != ''">
        fund.name LIKE CONCAT('%', #{name} ,'%')
      </if>
    </where>
    LIMIT #{offSet}, #{pageRow}
  </select>

  <select id="getFundCount" resultType="java.lang.Integer">
    SELECT
    COUNT(*)
    FROM
    fund
    <where>
      <if test="name != null and name != ''">
        fund.name LIKE CONCAT('%', #{name} ,'%')
      </if>
    </where>
  </select>

  <update id="updateFund" parameterType="io.haicheng.cfundtool.pojo.Fund">
    UPDATE fund
    <set>
      <if test="fundName != '' and fundName != null">
        fund_name = #{fundName},
      </if>
      <if test="outsideFund != '' and outsideFund != null">
        outside_fund = #{outsideFund},
      </if>
      <if test="insideFund != '' and insideFund != null">
        inside_fund = #{insideFund},
      </if>
      <if test="scope != '' and scope != null">
        scope = #{scope},
      </if>
      <if test="desc != '' and desc != null">
        `desc` = #{desc},
      </if>
      <if test="buildDate != null">
        build_date = #{buildDate,jdbcType=DATE},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <select id="getFundById" resultMap="BaseResultMap">
        SELECT id,`fund_name`, `outside_fund`, `inside_fund`, `scope`, `desc`, `build_date` FROM
            fund
        WHERE
            id = #{id}
    </select>

  <delete id="deleteFund" parameterType="java.lang.Integer">
        DELETE FROM
        fund
        WHERE id = #{id}
    </delete>

  <select id="getFundListByNameLike" resultMap="BaseResultMap">
    SELECT id, `fund_name`, `outside_fund`, `inside_fund`, `scope`, `desc`, `build_date` FROM
    fund
    <where>
      <if test="q != null and q != ''">
        fund.name LIKE CONCAT('%', #{q} ,'%')
      </if>
    </where>
  </select>

</mapper>